<!DOCTYPE html>
	<html>
		<head>	
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include analytics.html %}
			{% seo %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/course">Course</a></li>
	    		</ul>
			<img src="files/UCSB.jpg">
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:derenlei@engineering.ucsb.edu"><img src="files/email.png"></a></li>
	        		<li><a href="https://github.com/derenlei"><img src="files/GitHub-Mark-32px.png"></a></li>
				</ul>
			</footer>
		</body>
	</html>
