<!DOCTYPE html>
	<html>
		<head>
			{% if site.enforce_ssl %}
			<!--
			 redirect users to the https version of the website.
			 but: only check when on the production domain, as set in _config.yml.
			-->
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type="text/javascript">
				var enforce = "{{ site.enforce_ssl }}";
				window.location = window.location.toString().replace(/^http:/, "https:");
			</script>
			{% endif %}
			
			{% include analytics.html %}
			{% seo %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/course">Course</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:derenlei@engineering.ucsb.edu">email</a></li>
	        		<li><a href="https://github.com/derenlei">github.com/derenlei</a></li>
				</ul>
			</footer>
		</body>
	</html>
