<!DOCTYPE html>
	<html>
		<head>	
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include analytics.html %}
			{% seo %}
		</head>
		<body>
			<nav>
				<p>
					Deren Lei | 雷德仁
				</p>
	    			<ul>
	        			<li><a href="/">Home</a></li>
		        		<li><a href="/about">About</a></li>
	        			<li><a href="/resume">Resume</a></li>
	        			<li><a href="/blog">Blog</a></li>
					<li><a href="/course">Course</a></li>
	    			</ul>
				<img src="http://derenlei.com/files/UCSB.jpg" style="width:100%;height:auto;">
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:derenlei@engineering.ucsb.edu"><img src="http://derenlei.com/files/email.png" alt="Email"></a></li>
	        		<li><a href="https://github.com/derenlei"><img src="http://derenlei.com/files/GitHub-Mark-32px.png" alt="Github"></a></li>
				</ul>
			</footer>
		</body>
	</html>
